.climp-item {
  position: fixed;
  display: none;
  bottom: 27px;
  font-size: 40px;
  color: rgb(247, 59, 152);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: wheat;
  border: none;
  right: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
  transition: all 0.15s ease-in-out 0s;
  z-index: 11;
}
@media(min-width:768px) {
    .climp-item-active .climp-item {
    display: block;
}
}
